---
import PortableContent from "../../content/PortableContent.astro";
import Icon from "../../icons/Icon.astro";
import planeIcon from "../../../../assets/icons/plane-icon.svg";
import "./ValuesIntro.css";

import type { HomePage } from "../../../lib/types";

interface Props {
  homePage: HomePage;
}

const { homePage } = Astro.props;
---

<section
  id="approach"
  class="lwk-values-intro"
  aria-labelledby="values-title"
  data-values-intro
>
  <div class="lwk-values-intro__decor" aria-hidden="true">
    <span class="lwk-values-intro__icon lwk-values-intro__icon--star">
      <Icon name="star" size={54} />
    </span>

    <span class="lwk-values-intro__icon lwk-values-intro__icon--heart">
      <Icon name="heart" size={42} />
    </span>

    <span class="lwk-values-intro__flight">
      <svg
        class="lwk-values-intro__flight-path"
        viewBox="0 0 440 110"
        preserveAspectRatio="none"
      >
        <path d="M4 74 C88 67 143 93 220 89 C280 87 314 64 357 51"></path>
      </svg>

      <img
        class="lwk-values-intro__plane"
        src={planeIcon.src}
        alt=""
        width="130"
        height="66"
      />
    </span>
  </div>

  <div class="lwk-values-intro__content">
    <h2
      class="lwk-values-intro__title"
      id="values-title"
      data-values-intro-title
    >
      <span class="lwk-values-intro__title-line"> {homePage.valuesIntroHeading.prefix} </span>

      <span
        class="lwk-values-intro__title-line
          lwk-values-intro__title-line--phrases"
      >
        <span
          class="lwk-values-intro__accent
            lwk-values-intro__accent--purple
            lwk-tone-purple"
        >
          {homePage.valuesIntroHeading.purplePhrase}

          <svg
            class="lwk-values-intro__underline"
            viewBox="0 0 240 16"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <path pathLength="100" d="M4 10 C55 7 132 12 236 8"></path>
          </svg>
        </span>

        <span
          class="lwk-values-intro__accent
            lwk-values-intro__accent--green
            lwk-tone-green"
        >
          {homePage.valuesIntroHeading.greenPhrase}

          <svg
            class="lwk-values-intro__underline"
            viewBox="0 0 120 16"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <path pathLength="100" d="M4 9 C33 11 75 6 116 9"></path>
          </svg>
        </span>
      </span>

      <span
        class="lwk-values-intro__title-line
          lwk-values-intro__title-line--phrases"
      >
        <span class="lwk-values-intro__connector"> {homePage.valuesIntroHeading.connector} </span>

        <span
          class="lwk-values-intro__accent
            lwk-values-intro__accent--blue
            lwk-tone-blue"
        >
          {homePage.valuesIntroHeading.bluePhrase}

          <svg
            class="lwk-values-intro__underline"
            viewBox="0 0 260 16"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <path pathLength="100" d="M4 10 C70 6 157 12 256 8"></path>
          </svg>
        </span>
      </span>
    </h2>

    <div class="lwk-title-rule" aria-hidden="true">
      <span></span>
      <i></i>
      <span></span>
    </div>

    <div class="lwk-values-intro__copy">
      <PortableContent value={homePage.valuesIntroParagraphs} />
    </div>
  </div>
</section>

<script src="./ValuesIntro.ts"></script>
