---
export const prerender = true;
import BaseLayout from "../../layouts/BaseLayout.astro";
import Container from "../../components/layout/Container.astro";
import Icon from "../../components/icons/Icon.astro";
import SubpageHero from "../../components/layout/SubpageHero.astro";
import PortableContent from "../../components/content/PortableContent.astro";
import SanityImage from "../../components/media/SanityImage.astro";
import { getBlogPosts, getBusinessDetails, urlFor } from "../../utils/sanity";
import { mapBlogPost } from "../../lib/blog";
import { buildArticleSchema } from "../../lib/seo/buildArticleSchema";
import type { SeoConfig } from "../../lib/seo/types";
import "./blog-article.css";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
    props: { post },
  }));
}

import type { BlogPost } from "../../lib/types";

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;

const article = mapBlogPost(post);
const businessDetails = await getBusinessDetails();

const siteUrl = Astro.site ? Astro.site.toString() : "https://littlewisekids.co.uk";
const postUrl = `${siteUrl.replace(/\/$/, "")}/blog/${post.slug.current}`;
const articleSchemas = buildArticleSchema(post, siteUrl, postUrl, article.categoryLabel);

const socialImageUrl = post.featuredImage?.asset?._ref 
  ? urlFor(post.featuredImage.asset).width(1200).height(630).format("jpg").quality(80).url()
  : post.imageUrl;

const seo: SeoConfig = {
  title: `${article.title} | Little Wise Kids`,
  description: article.excerpt,
  canonicalPath: `/blog/${post.slug.current}`,
  type: "article",
  schemas: articleSchemas,
  publishedTime: post.publishedAt,
  modifiedTime: post._updatedAt || post.publishedAt,
  articleSection: article.categoryLabel,
  ...(socialImageUrl ? { image: { url: socialImageUrl, alt: post.featuredImage?.altText || article.title } } : {})
};
---

<BaseLayout seo={seo} businessDetails={businessDetails}>
  <article
    class="blog-article-page"
    itemscope
    itemtype="https://schema.org/BlogPosting"
  >
    <SubpageHero
      id="blog-article-title"
      eyebrow={`Blog / ${article.categoryLabel}`}
      tone="purple"
      itemprop="headline"
    >
      <Fragment slot="title">
        <span transition:name={`blog-title-${post.slug.current}`}>{article.title}</span>
      </Fragment>

      <p itemprop="description">
        {article.excerpt}
      </p>
    </SubpageHero>

    <div class="blog-article-page__content">
      <Container size="wide">
        <div class="blog-article">
          <header class="blog-article__meta">
            {article.authorName && (
              <>
                <div class="blog-article__meta-item" itemprop="author" itemscope itemtype="https://schema.org/Person">
                  <span aria-hidden="true">
                    <Icon name="person" size={20} />
                  </span>

                  <span>
                    <span itemprop="name">{article.authorName}</span>
                    {article.authorRole && <span class="blog-article__author-role"> ({article.authorRole})</span>}
                  </span>
                </div>

                <span class="blog-article__meta-separator" aria-hidden="true" />
              </>
            )}

            <div class="blog-article__meta-item">
              <span aria-hidden="true">
                <Icon name="calendar" size={20} />
              </span>

              <time datetime={article.published} itemprop="datePublished">
                {article.displayDate}
              </time>
            </div>

            <span class="blog-article__meta-separator" aria-hidden="true"
            ></span>

            <div class="blog-article__meta-item">
              <span aria-hidden="true">
                <Icon name="clock" size={20} />
              </span>

              <span>
                {article.readTime}
              </span>
            </div>
          </header>

          {post.featuredImage?.asset?._ref ? (
            <figure class="blog-article__image" transition:name={`blog-image-${post.slug.current}`}>
              <SanityImage
                image={post.featuredImage}
                alt={post.featuredImage.altText ?? ""}
                widths={[640, 800, 1200, 1600]}
                sizes="(min-width: 72rem) 1120px, 100vw"
                layout="full-width"
                priority
              />
            </figure>
          ) : null}

          <div class="blog-article__prose" itemprop="articleBody">
            <PortableContent value={article.body} />
          </div>
        </div>
      </Container>
    </div>
  </article>
</BaseLayout>
